html, body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Days One', sans-serif;
    background-image: url(https://s1.1zoom.me/b5050/469/Dragons_Battles_Horses_447301_2560x1440.jpg);
    background-size: cover;
}

.headrow{
    width: 100%;
    height: 15%;
    padding-top: 25px;
    margin-bottom: 150px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

h1 {
  padding: 15px;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

input {
  background-color: #fffcf7;
}

.textrow {
  text-align: center;
  margin: 0 auto;
}

#battlefield {
  width: 75%;
  margin: 25px auto;
  text-align: center;
}

#battlefield input {
  width: 200px;
  height: 30px;
  font-size: 30px;
}

#battlefield button {
  width: 100px;
  height: 36px;
  font-size: 22px;
  vertical-align: top;
}

#current-turn {
  width: 75%;
  margin: 15px auto;
  text-align: center;
}

#game-div {
  text-align: center;
}

#player1,
#result,
#player2 {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
  margin: 2%;
  text-align: center;
  vertical-align: top;
  border: 1px solid #000;
  color: white;
  opacity: .75;
  background-color: black;
}

#player1-name,
#player2-name {
  margin-bottom: 15px;
  font-size: 28px;
}

#player1-chosen,
#player2-chosen {
  margin-top: 25px;
  font-size: 60px;
}

li {
  margin: 12px 0;
  font-size: 24px;
}

.outcomes {
  position: absolute;
  bottom: 10px;
  width: 90%;
  text-align: center;
}

.outcome-trackers { 
  display: inline-block;
}

#result h2 {
  margin-top: 20px;
  font-size: 60px;
}

#chat {
  position: relative;
  width: 600px;
  height: 150px;
  padding: 10px;
  margin: 20px auto;
}

#chat-messages {
  height: 125px;
  overflow: auto;
  background-color: black;
  color: orange;
  opacity: .75;
}

#chat-bar {
  position: absolute;
  bottom: 10px;
}

#chat-input {
  width: 550px;
}

#chat-send {
  width: 80px;
}

.player1 {
  color: #419d78;
}

.player2 {
  color: #2d3047;
}

.player0 {
  color: #000;
  background-color: #d3d3d3;
}
